/* FULL PAGE BACKGROUND */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4c57ff, #6094ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CENTERED CARD */
.game-wrapper {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-card {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.18);
}

/* TITLE */
.title {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: bold;
}

/* CATEGORY LABEL */
.category {
    margin: 0;
    font-size: 14px;
    color: #666;
}

/* QUESTION TEXT */
.question-text {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

/* ANSWER BUTTONS */
.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;
}

.answer-btn {
    background: #a7b3ff;
    border: none;
    padding: 12px 0;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.answer-btn:hover {
    background: #8f9eff;
}

/* SCORE + TIMER SECTION */
.game-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    color: #444;    
}

/* BUTTONS */
.start-btn {
    background: #ff5379;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover {
    background: #ff335f;
}

.reset-btn {
    margin-top: 10px;
    background: #ddd;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.reset-btn:hover {
    background: #ccc;
}
